.place__title{
  color: #fff;
  margin: 0;

  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  /* identical to box height, or 106% */
}

@media screen and (max-width:768px){
  .place__title{
    font-size: 42px;
    line-height: 46px;
    /* identical to box height, or 110% */
  }
}

@media screen and (max-width:320px){
  .place__title{
    font-size: 32px;
    line-height: 35px;
    /* identical to box height, or 109% */
  }
}